@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@import "preline/variants.css";
@source "../../node_modules/preline/dist/*.js";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  /* -------------------------------------------------------------------------- */
  /*                                   Colors                                   */
  /* -------------------------------------------------------------------------- */
  --color-primary: var(--color-teal-700); /* main buttons, links */
  --color-primary-hover: var(--color-teal-600); /* hover state */
  --color-primary-active: var(--color-teal-900); /* active/pressed */

  /* Neutrals */
  --color-bg: var(--color-gray-50); /* page background */
  --color-surface: var(--color-white); /* cards, panels */
  --color-border: var(--color-gray-200); /* borders, dividers */

  /* Text */
  --color-text: var(--color-gray-900); /* primary text */
  --color-text-muted: var(--color-gray-700); /* secondary text */

  /* Semantic */
  --color-success: var(--color-green-600);
  --color-success-muted: var(--color-green-100);

  --color-warning: var(--color-amber-600);
  --color-warning-muted: var(--color-amber-100);

  --color-error: var(--color-red-600);
  --color-error-muted: var(--color-red-100);

  --color-info: var(--color-blue-500);
  --color-info-muted: var(--color-blue-100);
}

@theme {
  --font-raleway: "Raleway", sans-serif;
}
